@import 'node_modules/modern-normalize/modern-normalize.css';

* {
  margin: 0;
}

:root {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* TypeScale - Scale 1.200 (Minor Third) */
h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 2.488rem;
}

h3 {
    font-size: 2.074rem;
}

h4 {
    font-size: 1.728rem;
}

h5 {
    font-size: 1.44rem;
}

h6 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

small {
    font-size: 0.833rem;
}

/* font-size: 0.694rem; */