@import './modern-normalize.css';

* {
  margin: 0;
}

:root {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}