@font-face {
    font-family: norse-bold;
    src: url(./assets/fonts/Norse-Bold.otf);
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 900

.source-sans-3-<uniquifier> {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
 
* {
    font-family: "Source Sans 3", sans-serif;
}

body {
    display: flex;
}

/* Side Banner */
.side-banner {
    background-image: url("./assets/green-leaf-plant-halie-west.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 50%;
}

.side-banner,
.side-banner a:link,
.side-banner a:visited {
    color: white;
}

.logo {
    align-items: center;
    background-color: rgb(0,0,0, 60%);
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    margin-top: 12rem;
    padding: 0.5rem 0;
}

.logo img {
    object-fit: contain;
    width: 12%;
}

.norse-font {
    font-family: norse-bold, sans-serif;
    font-size: 5rem;
}

.credits {
    text-align: center;
    padding: 1rem 0;
}

/* Main Section */
main {
    display: flex;
    flex-direction: column;
    background-color: #F9FAFB;
}

.call-to-action, form, .action {
    padding: 1.5rem 3rem;
}

/* --- Call to Action --- */
.call-to-action {
    margin-top: 5.1rem;
}

.call-to-action p {
    font-size: 1.2rem;
    font-weight: 600;
}

.call-to-action p:last-child{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

/* --- Form --- */
form {
    background-color: white;
    box-shadow: 0 0.25rem 0.5rem 0.1rem rgb(0,0,0, 30%);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-bottom: 3rem;
}

form h2 {
    flex-basis: 100%;
    margin-bottom: -1.5rem;
}

form .wrapper {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    column-gap: 5rem;
}

form .relative {
    margin-top: 3rem;
    position: relative;
}

form label {
    position: absolute;
    top: -1.3rem;
    font-size: small;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

form input {
    width: 33ch;
    border: 0.15rem solid #E5E7EB;
    border-radius: 0.3rem;
}

form input:invalid {
    border-color: #931621;
}

form input:focus {
    border-color: #4f759b;
    box-shadow: 0 0 0.2rem 0.1rem rgba(79, 117, 155, 30%);
    outline: none;
}

/* --- Action --- */
.action button {
    background-color: #596D48;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}

.action button:focus {
    box-shadow: 0 0 0.8rem 0.4rem rgba(79, 117, 155, 30%);
    outline: #4f759b solid 0.15rem;
}

.action p {
    margin-top: 1.5rem;
}

.action span {
    color: #596D48;
    font-weight: bold;
}
